.wrap {
display: flex;
width: 100vw;
height: 100vh;
}

.ticketWrap {
width: 312px;
height: 368px;
border-radius: 3px;
background: var(--White);
display: flex;
flex-direction: column;
padding: 16px;
gap: 12px;
margin: auto;
}

.ticketTitleBlog {
display: flex;
justify-content: space-between;
align-items: center;
}

.ticketTitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}